.filters {
  font-family: SofiaProRegular !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .filters {
    flex-direction: column;
  }
}

.navigationLink {
  text-decoration: none;
  font-family: SofiaProRegular !important;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 26px;
  line-height: 2;
  border-bottom: 1.9px solid;
}

.navigationLink:hover {
  opacity: 0.5;
}
