@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }
}

.projectList {
  white-space: nowrap;
  overflow: hidden;
}

.projectTile {
  list-style: none;
  display: inline-block;
  height: 280px;
  background: white;
  margin: 5px;
  width: 64px;
}

.projectCard {
  border-radius: 0 !important;
  height: 300px;
}

.verticalText {
  transform: rotate(90deg);
  padding-left: 48px !important;
}

.a {
  text-decoration: none;
}
