.content {
  height: 100%;
}

.projectList {
  white-space: nowrap;
  overflow-x: scroll !important;
  padding-top: 40px;
  max-width: 100%;
  position: fixed;
  bottom: 0;
}

.projectList::-webkit-scrollbar {
  display: none;
}

.projectCard {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  height: 280px;
  margin: 9px;
  width: 64px;
  box-shadow: none!important;
  border-radius: 0 !important;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.lastProjectCard {
  margin-right: 85px;
}

@media all and (min-width: 450px) {
  .projectCard:hover {
    transform: translateY(-40px);
    background-color: #EBFF32 !important;
  }
}

.verticalText {
  font-family: SofiaProRegular, sans-serif;
  font-weight: bold;
  font-size: 12px !important;
  color: #3E33B7 !important;
  transform: rotate(-90deg);
  margin-top: 160px;
}

.a {
  text-decoration: none;
}

.projectQuestionContainer {

  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
}

.hoveredTitle {
  font-family: Source Serif Pro;
  font-weight: 600;
  font-size: 3rem;
  max-width: 80%;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
  /*more styles below depending on screen size*/
}

.appear {
  transition: all 0.5s ease;
  opacity: 1;
}

.hoveredSubtitle {
  font-family: SofiaProBold;
  font-size: 13px !important;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1.1px;
  margin-top: 25px;
  text-align: center;
  /*height: 20px;*/
}

.topicIcon {
  width: 35px;
  padding-top: 0px;
}

.clearFiltersButton {
  font-family: SofiaProRegular, sans-serif;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  font-weight: 500;
}


@media screen and (max-height: 720px) {
  .hoveredTitle {
    font-size: 2.4rem;
    margin-top: 5%;
    line-height: 1.3;
    max-width: 80%;
  }
  .hoveredSubtitle {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 970px) and (max-height: 720px) {
  .hoveredTitle {
    font-size: 2.0rem;
    margin-top: 5%;
    line-height: 1.3;
    max-width: 80%;
  }
  .hoveredSubtitle {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media screen and (max-height: 660px) {
  .hoveredTitle {
    font-size: 1.4rem;
    max-width: 80%;
    margin-top: 7%;
    letter-spacing: 1.2;
    line-height: 1.3;
  }
  .hoveredSubtitle {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-left: 2%;
    margin-right: 2%;
  }
}
