.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

.row {
  padding: 40px;
  display: flex;
}

.title {
  width: 60px;
  margin: 25px 20px 0 10px;
}

.header {
  display: flex;
  background-color: rgba(0,0,0,0); /*#403ca0;*/
  box-shadow: none;
  color: white;
  z-index: 3;
}

.row {
  /*padding: 0 16px;*/
}

.searchBox {
  font-family: SofiaProBold!important;
  color: white !important;
}
