.row {
  padding: 40px;
}

.title {
  color: rgb(66,66,66);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }
}
