.container {
  background: #403ca0;
  font-family: 'Source Serif Pro', serif;
  height: 100%;
}

.mainContent {
  height: 100%;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

a {
  color: rgba(255, 255, 255, 0.8);
}
